.main, html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  /* font: 1rem/1.5 'Roboto', sans-serif, Helvetica; */
  /* min-height: 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #455358;
  /* background-color: #f0f0f0;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Elements */

a {
  text-decoration: none;
  color: #455358
}

li {
  list-style: none;
}

button {
  color: #FFF;
  display: block;
  width: 90%;
  padding: .75em;
  margin: 1em auto;
  background-color: #5C71B5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  /* border-radius: 5px; */
  border: 1px solid var(--color-primary);
  transition: background-color .25s ease-out;
  outline:0 !important;
}

button:hover {
  background-color: #ffcd1f;
  color: #969494;
}

button:disabled {
  background: #969494;
}

.remove-card {
  /* background-color: tomato; */
}


/* Form Elements */

/* textarea,
select,
input {
  border: 1px solid #b2b2b2;
  border: none;
  width: 90%;
  padding: 5px;
  margin: 15px auto;
  height: 40px;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  background: #f9f9f9;
  transition: background-color .25s ease-out;
  color: #606060;
} */

select, 
input,
textarea {
  margin: .25em auto;
  height: 100%;
  width: 100%;
  padding: 0 0 2px 0;
  background: transparent;
  /* border-top: none;
  border-right: none;
  border-left: none; */
  border: none;
  border-bottom: 2px solid #636363;
  border-radius: 0px;
  color: inherit;
  cursor: inherit;
  display: block;
  font: inherit;
  line-height: inherit;
  /* line-height: .75em; */
  outline: none;
  overflow: hidden;
  resize: none;
  text-shadow: inherit;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

select {
  border-right: 1px solid #636363; 
  border-left: 1px solid #636363; 
  border-top: 1px solid #636363; 
  line-height: 1.75em;
}

textarea:focus {
  margin: .25em auto;
  height: 100%;
  width: 100%;
  padding: 0 0 0px 0;
  background: transparent;
  /* border-top: none;
  border-right: none;
  border-left: none; */
  border: none;
  border-bottom: 4px solid #ffcd1f;
  color: inherit;
  cursor: inherit;
  display: block;
  font: inherit;
  line-height: inherit;
  outline: none;
  overflow: hidden;
  resize: none;
  text-shadow: inherit;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

textarea::placeholder, input::placeholder {
  vertical-align: bottom;
  color: #C0CACE;
}

input.field {
  margin-bottom: 0;
}

input:focus,
select:focus {
  background-color: #fff;
  outline:0 !important;
}

textarea:focus {
    /* border: 2px solid #2d3944; */
    background-color: #fff;
}

label {
  color: #97A5AA;
  font-size: .9em;
  position: relative;
}

.centered {
  text-align: center;
}


/* header */

.header {
  background-color: #5C71B5;
  /* position: fixed; */
  height: 67px;
  display: flex;
  width: 100%;
  transition: .3s;
  z-index: 100000;
  opacity: 1;
  padding: .5em 0px
}

.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100000;
  background-color: #fff;
}

.back h4 {
  padding-left: .5em;
}

.back a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.5em;
}

.scrolled {
  position: fixed;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: .5s;
}

.main-content-hidden {
  opacity: 0;
}

.scrolled + .main-content {
  /* padding-top: 50px; */
}

/* .main:nth-child(2) {
  display: none;
} */

form {
  /* display: block; */
  /* text-align: center; */
  width: 100%;
  margin: 0 auto;
}

.header .bounds {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: .5em;
  width: 100%;
}

.header--logo {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.25em;
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5em;
}

/* .textArea {
  border-bottom: 1px solid #5e5d5d;
  padding: 0;
} */


a.header-links {
  margin: .50em;
  font-size: 1em;
}

.bounds {
  /* padding: 1em; */
}

.cards {
  background-color: #F0F0F0;
  padding: 1em 2em;
  padding-top: .25em;
  padding-bottom: 1em;
  margin-top: 2em;
}

.card {
  background-color: #fff;
  margin: 1em 0;
  padding: 1em 1.5em;
  padding-bottom: 2em;
}

.card-quiz {
  background-color: #fff;
  margin: 2em;
  padding: 1em 1.5em;
  height: 16em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items; */
}

.card--question, .card--hint {
  align-self: center;
  /* margin-top: 4em; */
}

.card--question {
  align-self: center;
  /* margin-top: 4em; */
}

.deck {
  background-color: #fff;
  margin: 1em 0;
  padding: 1em 1.5em;
  padding-bottom: 2em;
  height: 6em;
  cursor: pointer;
  border: 1px solid #e2e0e0;
  border-radius: 4px;
}

input {
  margin: 1em 0 .25em 0;
}

.card textarea {
  margin: 1em 0 .25em 0;
  /* padding: .75em 0; */
}

.error {
  border-bottom: 2px solid#FF725B;
}

.title {
  font-size: 1.5em;
  margin-left: 1em;
  margin-bottom: 0;
}

.dropdown {
  margin: 2em;
  margin-top: 1em;
  border: 1px solid #ccc;
}

.dropdown-search {
  border: none;
  min-width: 104px;
}

.dropdown-enabled > * {
  background-color: #fff !important;
}

.dropdown-disabled > * {
  background-color: #f0f0f0 !important;
}


.Dropdown-option:first-of-type {
  background-color: #f0f0f0;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon-flip {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon-flip path,
.svg-icon-flip polygon,
.svg-icon-flip rect {
  fill: #fff;
}

.svg-icon-disable path,
.svg-icon-disable polygon,
.svg-icon-disable rect {
  fill: #969494;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-icon-profile {
  width: 4em;
  height: 4em;
}

.svg-icon-profile path,
.svg-icon-profile polygon,
.svg-icon-profile rect {
  fill: #4691f6;
}

.svg-icon-profile circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-icon-newDeck {
  width: 2em;
  height: 2em;
  margin-top: -1em;
}

.svg-icon-newDeck path,
.svg-icon-newDeck polygon,
.svg-icon-newDeck rect {
  fill: #4691f6;
}

.svg-icon-newDeck path,
.svg-icon-newDeck polygon,
.svg-icon-newDeck rect {
  fill: #969494;
}

.svg-icon-newDeck circle {
  stroke: #4691f6;
  stroke-width: 1;
}


.svg-icon-hint path,
.svg-icon-hint polygon,
.svg-icon-hint rect {
fill: #ffd400;
}

.trash {
  margin-top: .75em;
}

button.remove-card {
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  margin-top: .5em;
  text-align: right;
  cursor: pointer;
  /* float: right; */
}

button.remove-card:focus {
  outline:0 !important;
}

/* .button {
  background-color: #3CCFCF;
  font-size: .9em;
  font-weight: bold;
  margin-right: 2em;
  width: 20%;
} */

button.button-secondary {
  background-color: #fff;
  color: #3CCFCF;
  border: 2px solid #3CCFCF;
  font-size: .9em;
}

button.add-card {
  color: #636363;
  font-size: .9em;
  font-weight: bold;
  background-color: #fff;
  margin: 0;
  padding: 1.75em;
  width: 100%
  /* border: 2px solid #3CCFCF; */
}

.deck-detail {
  display: flex;
  flex-direction: row-reverse;
}

.create {
  /* float: right; */
  font-size: .9em;
  font-weight: bold;
  margin-right: 2em;
  width: 20%;
}

button.create:focus {
  outline:0 !important;
}

.validation-errors {
  color: #FF725B;
  width: 80%;
  margin: auto;
  text-align: center
}

.errorMessage {
  color: #FF725B;
}

.deck--header {
  padding: 0 2em;
}

.deck--header2 {
  padding: 0 2em;
}

.dropdown {
  /* padding: 0 1em; */
  /* margin: 0 3em; */
}
/* 
.pad-bottom {
  background-color: #F0F0F0;
  width: 100%;
  margin: 0;
  padding: 0;
} */

.deck-list {
  padding: 1em 2em;
  background-color: #f0f0f0;
  flex: 2;
  /* min-height: 55vh; */
}

a.deck--link {
  text-decoration: none;
}

.deck--title--play {
  font-size: 1.5em;
  /* padding: 2em; */
  background-color: #fff;
}

a.deck--link:visited {
  color: #455358;
}

a.header-links-2 {
  padding: 1.3em;
  /* margin: .50em; */
  font-size: 1em;
  background-color: #3CCFCF;
  /* border: 1px solid tomato; */
}

.section-title {
  padding: 1.5em;
}

/* FORM */
.form-container {
  /* padding: 1.5em; */
}

.form-buttons-create {
  font-size: .9em;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 1em 0;
}

.form-buttons-update {
  display: none;
  justify-content: flex-end;
  font-size: .9em;
  font-weight: bold;
  /* width: 100%; */
  margin-right: 1.8em;
  /* padding: 1em 0; */
}

.form-buttons-update button {
  width: 20%;
  font-size: .9em;
  margin: 0;
  margin: 0 1em 0 .5em;
}

.form-buttons-update button:hover {
  width: 20%;
  font-size: .9em;
  background-color: #2dbcbc;
  color: #fff;
}

.form-buttons-hide {
  display: none;
}

.button.create {
  width: 25%;
  margin-right: 3.2em;
  background-color: #fff;
  color: #3CCFCF;
  border: 2px solid #3CCFCF;
  font-size: 1em;
}

.form-buttons-login {
  /* font-size: .9em; */
  font-weight: bold;
  /* background-color: #fff; */
  /* padding: 1em 0; */
}

.form-buttons-login button:hover {
  /* font-size: .9em; */
  font-weight: bold;
  background-color: #4257b2;
  color: #fff;
  /* padding: 1em 0; */
}

.signup-login-input {
  margin-bottom: 2em;
}

.signup-login-input-container {
  margin: 1.5em;
}

.create-deck {
  width: 25%;
  margin-right: 3.2em;
  background-color: #fff;
  color: #3CCFCF;
  border: 2px solid #3CCFCF;
  font-size: 1em;
} 


.cancel-deck {
  display: none;
  width: 25%;
  margin-right: 3.2em;
  margin-bottom: 0;
  /* background-color: #fff; */
  /* color: #3CCFCF; */
  /* border: 2px solid #3CCFCF; */
  font-size: 1em;
}

.add-card-span {
  width: 8em;
  margin: auto;
  border-bottom: 4px solid #3CCFCF;
  padding: .5em;
}

.Dropdown-root {
  box-shadow: 0px .5px 1px 0px rgba(0,0,0,0.2);
}

.Dropdown-control {
  box-shadow: 0px .5px 1px 0px rgba(0,0,0,0.2);
  min-height: 2.5em;
  border: 1px solid transparent !important;
  padding: 8px 36px 8px 10px !important;
}

.Dropdown-option {
  background-color: #fff;
}

.user-profile {
  padding: 2em 2em;
  display: flex;
  align-items: center;
}

.profile-picture {
  margin-right: 1em;
  padding-top: .5em;
}

.actions--bar {
  background-color: #f0f0f0;
}

.new-deck {
  margin: 0 2em;
}

.empty {
  height: 2em;
  background-color: #f0f0f0;
}

.add-card {
  cursor: pointer;
}

.add-card-span {
  display: flex;
  justify-content: center;
  /* align-items: end; */
  /* text-align: center; */
  /* margin: auto; */
}

.add-card-span p{
  margin: .2em;
  padding-right: .25em;
  align-self: center;
}

.svg-icon-newDeck {
  align-self: flex-end;
}

.edit-card-options-container {
  padding: 0 2em; 

}

.edit-card-options {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 0 0 1em 0;
}

.edit-card-options a.button {
  font-size: .8em;
  font-weight: bold;
  color: #455358;
  transition: .25s;
}

.edit-card-options a.button:hover {
  font-size: .8em;
  font-weight: bold;
  color: #FFCD1E;
}

.edit-card-options svg {
 margin-bottom: -.5em;
}

.card-options {
  display: flex;
  justify-content: center;
}

.edit-card-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .hint-card {
  align-self: flex-end;
  margin-bottom: 3em;
  margin: 4em;
} */

button.next-card,
button.previous-card,
button.flip-card,
button.hint-card {
  font-size: .8em;
  background-color: #3CCFCF;
  height: 3em;
  /* align-self: center; */
  margin: 0 1em;
  width: 6em;
}

button.next-card:focus,
button.previous-card:focus,
button.flip-card:focus {
  outline:0 !important;
}

button.next-card:hover,
button.previous-card:hover,
button.flip-card:hover,
button.hint-card:hover {
  background-color: #2dbcbc;
  color: #fff;
}

button.next-card-disabled,
button.previous-card-disabled,
button.hint-card-disabled {
  font-size: .8em;
  background-color: #f0f0f0;
  height: 3em;
  align-self: center;
  margin: 0 1em;
  width: 6em;
}

button.next-card:focus,
button.previous-card:focus,
button.flip-card:focus {
  outline:0 !important;
}

button.next-card:hover,
button.previous-card:hover,
button.flip-card:hover {
  background-color: #2dbcbc;
  color: #fff;
}

.card-container {
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
}

.test {
  rotate: 100px;
}

.edit-card-options-container {
  /* height: 10em; */
  /* background-color: #f0f0f0; */
}

.author-link {
  transition: .3s;
  display: inline-block;
  padding: 2em;
  font-size: .9em;
  font-weight: bold;
  /* margin-top: 2em; */
}

.author-link:hover {
  color: #ffcd1f;
}

.update-card input:disabled {
  padding: .5em;
  border: none;
  pointer-events:none;
}

button.show-hint {
  background-color: #fff;
  border-radius: 2px;
}

#question, #answer {
  padding-top: 1em;
}

.update-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: flex-start;
}

.update-card input {
  display: inline-block;
}

.svg-flex {
  align-self: flex-end;
}

.svg-icon-edit {
  width: 1.25em;
  height: 1.25em; 
  padding-left: 2em;
}

.svg-icon-edit path,
.svg-icon-edit polygon,
.svg-icon-edit rect {
fill:#4691f6;
}

.svg-edit-inactive {
  width: 1.25em;
  height: 1.25em; 
}

.svg-edit-inactive path,
.svg-edit-inactive polygon,
.svg-edit-inavtice rect {
width: 1.5em;
height: 1.5em;  
fill:#455358;
transition: .25s
}

.svg-edit-inactive:hover path,
.svg-edit-inactive:hover polygon,
.svg-edit-inavtice:hover rect {
width: 1.5em;
height: 1.5em;  
fill:#FFCD1E;
}

.svg-edit-active path,
.svg-edit-active polygon,
.svg-edit-active rect {
  width: 1.5em;
  height: 1.5em;  
  fill: #FFCD1E;
}

.inputs {
  width: 100%;
}

.svg-icon-menu {
  width: 1.5em;
  height: 1.5em; 
  margin: 0 .5em -.25em .25em;
  align-self: center;
  padding-bottom: .4em;
}

.svg-icon-menu path,
.svg-icon-menu polygon,
.svg-icon-menu rect {
fill:#f0f0f0;
transition: .5s
}

.svg-icon-menu:hover path,
.svg-icon-menu:hover polygon,
.svg-icon-menu:hover rect {
fill:#969494;
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

#searchBar {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 0 1em;
  /* flex: 2; */
  flex-grow: 2;

  /* width: 100%; */
}

div[data-radium] {
  flex-grow: 2;
}

.searchForm {
  display: flex;
  /* align-items: flex-end; */
}

#criteria-select {
  margin: 0;
  margin-right: 1em;
  padding-left: .5em;
  background-color: #fff;
  width: 7em;
}

.search {
  margin: 0;
  background-color: #fff;
  height: 2.05em;
  border-right: 1px solid #636363; 
  border-left: 1px solid #636363; 
  border-top: 1px solid #636363; 
  border-radius: 3px;
  line-height: 1.7em;
  height: 42px;
  margin-left: .75em;
  padding-left: 1em;
}

.menu-navigation {
  /* display: none; */
  opacity: 0;
  z-index: 1000000;
  position: fixed;
  left: -150px;
  /* right: 50%; */
  transition: .5s;
}

.menu-nav-shown {
  display: block;
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100vh;
}


.menu {
  /* opacity: 1; */
}

.menu-shown {
  /* display: block; */
  /* z-index: 1000000; */
  position: fixed;
  /* top: 67px; */
  right: 50%;
  height: 100vh;
  width: 100%;
  background: #fff;
  opacity: 1;
}

.nav-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  /* margin-left: 1em; */
  /* justify-content: center;
  align-items: center; */
}

.nav-list li {
  display: inline-block;
  /* padding: 1em 0; */
  line-height: 4em;
  padding-left: 1em;
  /* width: 100%; */
  background-color: #fff;
  transition: .25s;
}

.nav-list li a {
  display: flex;
  align-items: flex-end;
  /* line-height: 2em; */
}

.nav-list li:hover {
  background-color: #FFCD1E;
}


.svg-icon-menu-items {
  margin: 0 .5em -.25em .25em;
  margin-top: -.2em;
  margin-right: .5em;
  align-self: center;
  width: 1.5em;
  height: 1.5em;
}

.svg-icon-menu-items path,
.svg-icon-menu-items polygon,
.svg-icon-menu-items rect {
  fill: #636363;
}


/* Main Site Wrapper */
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.main-content {
  flex: 2;
  height: 100%;
}

.closeIcon {
  align-self: center;
  padding-left: 1em;
  padding-right: .5em;
}

.searchIcon {
  padding-right: .5em;
  padding-top: .3em;
}

@media(max-width: 550px) {
  .header-links {
    display: none;
}
}