doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/catalog') Home
              li 
                a(href='/catalog/decks') All Decks
              li 
                a(href='/catalog/users') All users
              li 
                a(href='/catalog/subjects') All subjects
              li 
                a(href='/catalog/cards') All cards
              li 
                hr
              li 
                a(href='/catalog/profile') Profile  
              li 
                a(href='/catalog/user/create') Sign Up
              li 
                a(href='/catalog/user/login') Log In
              li
                a(href='/catalog/user/logout') Log Out  
              li 
                a(href='/catalog/subject/create') Create new subject
              li 
                a(href='/catalog/deck/create') Create new deck
              li 
                a(href='/catalog/card/create') Create new card
                
        div(class='col-sm-10')
          block content