extends layout

block content

  h1 User: #{user.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Decks
    
    dl
      each deck in user_decks
        dt 
          a(href=deck.url) #{deck.title}
        each subject in deck.subject  
          dd #{subject.name}
      else
        p This author has no decks.